<!DOCTYPE html>
<head>
	<title>GPIO Control</title>

	<meta http-equiv="refresh" content="60;url=/">
</head>
<body>
	<h1>494_Status</h1>
		<h2> Watering </h2>
			{% if well_zero["valve1"][0] != "no_con" %}
				<h3>
					Strawberries ==>  {{ well_zero["valve1"][0] }} --
					{% if well_zero["valve1"][0] == "On" %}
						<a href="/valve1/off"class="button">Turn Off </a>
					{% else %}
						<a href="/valve1/on" class="button">Turn On </a>
					{% endif %}
					-- Has been running for {{ well_zero["valve1"][1] }} minutes today.
				</h3>
			{% else %}
			<h3>
				Connection Error: Was not able to reach the valve (1). Please refresh or try again later.
			</h3>
			<h4>
				{% if well_zero["valve1"][1] != 0 and well_zero["valve1"][1] != "no_connection" %}
					The valve has been on for {{ well_zero["valve1"][1] }} minutes today.
				{% endif %}
				{% if well_zero["valve1"][1] == "no_connection" %}
					The app was unable to check for how long the valve has been open today.
				{% endif %}
			</h4>
			{% endif %}

			{% if well_zero["valve2"][0] != "no_con" %}
				<h3>
					Bluberries and company ==>  {{ well_zero["valve2"][0] }} --
					{% if well_zero["valve2"][0] == "On" %}
						<a href="/valve2/off"class="button">Turn Off </a>
					{% else %}
						<a href="/valve2/on" class="button">Turn On </a>
					{% endif %}
					-- Has been running for {{ well_zero["valve2"][1] }} minutes today.
				</h3>
			{% else %}
				<h3>
					Connection Error: Was not able to reach the valve (2). Please refresh or try again later.
				</h3>
				<h4>
					{% if well_zero["valve2"][1] != 0 and well_zero["valve2"][1] != "no_connection" %}
						The valve has been on for {{ well_zero["valve2"][1] }} minutes today.
					{% endif %}
					{% if well_zero["valve2"][1] == "no_connection" %}
						The app was unable to check for how long the valve has been open today.
					{% endif %}
				</h4>
			{% endif %}
	<hr>
	<h4>Page last updated: <span id="datetime"></span></h4>

	<script>
		var dt = new Date();
		document.getElementById("datetime").innerHTML = dt.toLocaleString();
	</script>
</body>
